@use "./scss/" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

// * {
//   font-family: "Roboto", sans-serif;
// }

//******************* reset css*********************

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  background-color: #f0f2f5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}
// *************** end reset **********

.app {
  width: 100%;
  display: flex;
  // max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.emp-sidebar {
  width: 310px;
  height: 100vh;
}

.container {
  // width: calc(100% - 310px);
  // height: 100vh;
  // background-color: #f0f2f5;
  background-color: #f0f2f5;
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  // để list hiện ra không bị cụt
  // padding-bottom: 20px;
}

.col-4-percent {
  width: 4%;
}

.col-5-percent {
  width: 5%;
}

.col-7-percent {
  width: 7%;
}

.col-10-percent {
  width: 10%;
}

.col-15-percent {
  width: 15%;
}
.col-20-percent {
  width: 20%;
}
.col-25-percent {
  width: 25%;
}

.col-27-percent {
  width: 27%;
}

.col-30-percent {
  width: 30%;
}

.col-33-percent {
  width: 33.33%;
}

.col-45-percent {
  width: 45%;
}

.col-50-percent {
  width: 33.33%;
}

.center {
  display: flex;
  align-items: center;
}

.item.center {
  justify-content: center;
}

.item.right {
  justify-content: flex-end;
}

.al-center {
  text-align: center;
}

.al-left {
  text-align: left;
  justify-content: flex-start !important;
}

.item.break-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

h3 {
  text-transform: uppercase;
  font-size: 30px;
  margin: 50px 0 30px 44px;
  color: #fc3a3a;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-80 {
  padding-left: 80px;
}

.ml-20 {
  margin-left: 20px;
}

.row.content {
  flex-direction: row;
}

.card-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #e5e5e5; */
  gap: 60px;
}

.guide {
  font-size: 15px;
  font-weight: 400;
  margin-left: 50px;
  margin-bottom: 20px;
  color: #06b814;
  font-weight: 500;
  // font-style: italic;
}
