@use "../scss/" as *;

.content {
  .general {
    background: linear-gradient(90deg, #b224ef 0%, #7579ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: -20px;
  }
  font-size: 20px;
  color: $text-color;
  display: flex;
  &__left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px 0px;
    margin-top: -50px;
    & > h4 {
      text-align: center;
    }

    .num-of-class {
      cursor: pointer;
      width: 330px;
      // margin-left: 35px;
      // margin-right: 45px;
      // margin-bottom: 85px;
      background: linear-gradient(75deg, #a5e7ff 0%, #1ccaef 100%);
      border-radius: 30px;
    }

    .num-of-subject {
      cursor: pointer;
      width: 330px;
      background: linear-gradient(75deg, #fafc6e 0%, #ffce30 100%);
      border-radius: 30px;
    }

    .num-of-student {
      cursor: pointer;
      width: 330px;
      background: linear-gradient(75deg, #fc728f 0%, #ec3e63 100%);
      border-radius: 30px;
    }

    h4 {
      display: inline-block;
      margin-top: 44px;
      margin-left: 33px;
      text-transform: uppercase;
    }

    .num-and-icon {
      display: flex;
      justify-content: space-between;
      h1 {
        color: #19274c;
        margin-left: 33px;
        margin-top: 20px;
        margin-bottom: 35px;
        font-weight: 900;
      }

      img {
        margin-right: 45px;
        margin-bottom: 45px;
      }
    }
  }

  &__right {
    width: 60%;

    position: relative;

    .hero-img {
      width: 88%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 40px;
      left: 50px;
      z-index: 1;
      animation: shake 1.5s linear infinite alternate;
    }

    .hero-bg {
      position: absolute;
      width: 75%;
      height: 65%;
      object-fit: cover;
      object-position: top center;
      z-index: 0;
      transform: translate(13%, 50%);
      box-shadow: rgba(#54ffeb, 0.4) 5px 5px, rgba(#53fff6, 0.3) 10px 10px,
        rgba(#52fcff, 0.2) 15px 15px, rgba(#51f0ff, 0.1) 20px 20px,
        rgba(#51e4ff, 0.05) 25px 25px;
    }
  }
}

@keyframes shake {
  0% {
    transform: translateY(10px) rotate(1deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-15px) rotate(-1deg);
  }
}
