@use "../scss/" as *;

.confirm {
  @include overlay();
  @include flex(center, center);
  &__container {
    width: 500px;
    background-color: #fff;
    border-radius: 50px;
    position: relative;
    h2 {
      text-align: center;
      font-size: 25px;
      font-weight: 700;
      color: #ff1d1d;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__content {
      padding-left: 50px;

      & p {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    .btns {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  .seperate {
    border-top: 1px solid #ccc;
    height: 5px;
    margin-top: 5px;
    margin-right: 40px;
    // margin-left: 10px;
  }
}
