@use "../../scss/" as *;
.add-student {
  font-size: $content-fontsize;
  font-weight: 700;
  line-height: 23px;
  .grid {
    margin-bottom: 60px;
    .row {
      @include grid-2();
      margin-bottom: 65px;
    }
  }
}

.grid__item {
  display: flex;
  flex-direction: column;
  label {
    margin-left: 15px;
    margin-bottom: 12px;
  }

  input,
  select {
    padding: 20px;
    width: 450px;
    border: 1px solid #cccccc;
    border-radius: 8px;

    option {
      width: 45px;
      height: 40px;
    }
  }
}
