@use "../scss/" as *;

.grid__item {
  display: flex;
  flex-direction: column;
  label {
    margin-left: 15px;
    margin-bottom: 12px;
  }

  input,
  select {
    padding: 20px;
    width: 450px;
    border: 1px solid #cccccc;
    border-radius: 8px;

    &:focus {
      outline: 2px solid #2490f9;
    }

    option {
      width: 45px;
      height: 40px;
    }
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    // background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
    //   white no-repeat 96% !important;
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
      white no-repeat calc(100% - 15px) !important;
    background-size: 10px 10px;
  }
}

.input--small {
  padding: 15px;
  width: 200px;
  border: 1px solid #cccccc;
  border-radius: 8px;

  &:focus {
    outline: 2px solid #2490f9;
  }
}
