$primary-color: #fff;
// $sidebar-color: rgba(83, 82, 237, 0.9);
$sidebar-color: #f0f2f5;
// $sidebar-color: #fcfdff;
$text-color: #fff;

$sidebar-hover-color: rgba(25, 25, 143, 0.4);
// $sidebar-hover-color: #c8c8c9;

$font-family: "Roboto", sans-serif;
$sidebar-fontsize: 22px;
$content-fontsize: 20px;

$max-width: 1440px;
$sidebar-width: 25%;
