@mixin flex($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin grid-1() {
  width: 100%;
  margin-left: 43px;
}

@mixin grid-2() {
  width: 100%;
  padding-left: 43px;
  padding-right: 43px;
  display: flex;
  justify-content: space-between;
}

@mixin manage-container {
  flex: 1;
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: 0px 0px 0px 1px rgba(152, 161, 178, 0.1),
    0px 1px 4px rgba(69, 75, 87, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

@mixin checkbox {
  background: #ffffff;
  border-radius: 4px;
  outline: none;
  border: none;
  width: 16px;
  height: 16px;
  margin-left: 12px;
  margin-right: auto;
}

@mixin heading {
  padding-top: 25px;
  padding-bottom: 10px;
  background: rgba(244, 247, 252, 0.75);
}

@mixin heading-item {
  justify-content: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

@mixin manage {
  display: flex;
  flex-direction: column;
  // h3 {
  //   margin-left: 40px;
  //   margin-bottom: 15px;
  // }

  .container {
    @include manage-container();
  }
}

@mixin overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
// @mixin overlay()
@mixin list-row {
  display: flex;
  color: #000;
  font-size: 14px;
  &.heading {
    @include heading();

    & > .item {
      @include heading-item();
    }
  }

  &.content {
    padding-top: 14px;
    padding-bottom: 10px;

    & > .item {
      justify-content: center;
    }
  }

  &.content button:first-child img,
  &.content button:nth-child(2) img {
    margin-right: 10px;
  }

  img {
    cursor: pointer;
  }
}

@mixin btn {
  // box-shadow: rgba(0, 25, 63, 0.16) 0px 1px 4px;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  //   rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  background-image: linear-gradient(
    to right,
    #3459e7 0%,
    #1fa2ff 51%,
    #3459e7 100%
  );
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;

  &:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  // background-image: linear-gradient(
  //   to right,
  //   #36d1dc 0%,
  //   #5b86e5 51%,
  //   #36d1dc 100%
  // );

  // margin: 10px;
  // padding: 15px 45px;
  // text-align: center;
  // text-transform: uppercase;
  // transition: 0.5s;
  // background-size: 200% auto;
  // color: white;
  // box-shadow: 0 0 20px #eee;
  // border-radius: 10px;
  // display: block;

  // &:hover {
  //   background-position: right center; /* change the direction of the change here */
  //   color: #fff;
  //   text-decoration: none;
  // }
}

@mixin main-container {
  .container {
    padding-bottom: 20px;
  }
}

@font-face {
  font-family: "SegoeUI-regular";
  src: url(../fonts/SegoeUI-Regular.ttf);
}

@font-face {
  font-family: "SegoeUI-bold";
  src: url(../fonts/SegoeUI-Bold.ttf);
}
